body {
    background-color: #F8F8F8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.04rem;
}

button {
    margin-top: 1px;
    width: 150px;
    height: 50px;
    border: 2px solid #387924;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button:active {
    background-color: #387924;
}
@media (max-width: 600px) {
    button {
        width: 100%;
    }
}

audio {
    width: 99.4%;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
}

.button {display: table;}
.button2 {display: none;}

table {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

td {
    text-align: center;
}
h6 {
    margin-top: -5px;
}
.icons {
    width: 50px;
}