body {
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.04rem;
}
.burrCont {
    width: 100%;
    height: 5px;
    background-color: rgb(148, 148, 148);
}
#burrInfo {
    width: 0%;
    height: 5px;
    background-color: #387924;
}

#information {
    height: 100px;
}

button {
    color: #fff;
    margin-top: 1px;
    width: 150px;
    height: 50px;
    border: 2px solid #387924;
    background-color: #3e8a27c0;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
}
button:active {
    background-color: #387924;
}
@media (max-width: 600px) {
    button {
        width: 100%;
    }
}

audio {
    width: 99.4%;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
}

.button {display: table;}
.button2 {display: none;}

table {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

td {
    text-align: center;
}
h6 {
    margin-top: -5px;
}
.icons {
    width: 50px;
}
#miniMoney {
    width: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -9px;
}
#miniFood {
    width: 30px;
    margin-bottom: -3px ;
}
#miniWeed {
    width: 30px;
    margin-bottom: -9px;
}
#miniHigh {
    width: 30px;
    margin-bottom: -9px;
}